/*wiggle animation*/
@keyframes wiggle-1 {
    from {
        transform: translate(-3px, -3px);
    }
    to {
        transform: translate(3px, 3px);
    }
}

@keyframes wiggle-2 {
    from {
        transform: translate(-5px, 2px);
    }
    to {
        transform: translate(5px, -2px);
    }
}

@keyframes wiggle-3 {
    from {
        transform: translate(2px, -4px);
    }
    to {
        transform: translate(-2px, 4px);
    }
}

@keyframes wiggle-4 {
    from {
        transform: translate(-7px, 3px);
    }
    to {
        transform: translate(7px, -3px);
    }
}

/* Predefined wiggle variants */
.wiggle-1 {
    animation: wiggle-1 1.2s infinite alternate ease-in-out;
}

.wiggle-2 {
    animation: wiggle-2 1.8s infinite alternate ease-in-out;
}

.wiggle-3 {
    animation: wiggle-3 2s infinite alternate ease-in-out;
}

.wiggle-4 {
    animation: wiggle-4 1.5s infinite alternate ease-in-out;
}